/* hero section */

.hero-section{
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 68px 60px ;
}   

.kv-wrapper {
    width: 100%;
    height: 100%;
    background-color: #314233;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 160px;
    background-size: cover;
    background-position: center;
    gap: 60px;
}


.hero-title {
    font-weight: 300;
    font-size: 6.25rem;
    width: 650px;
    color: #FFFFFF;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
}


.kv-wrapper a{
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px 0 20px 0;
    padding: 10px 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
}

.video-wrapper{
    margin: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avp-title{
    color: #354637;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 80px;
    letter-spacing: -2px;
    line-height: 80px;
}

.avp-title span{
    margin-left: 12px; /* adjust as needed */
    letter-spacing: -2px;
}

.avp-sub-header{
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin: 2rem 0;
    width: 100%;
    color: #354637;
}

 video{
    height: 600px;
    border-radius: 20px;
}

.map-header, .map-counter{
    font-size: 80px;
    letter-spacing: -2px;
    line-height: 80px;
}

.map-counter .counter {
  font-size: 120px;
  display: inline-block;
  margin-right: 8px;
}
