.contact-page {
  margin: 0 200px;
}

.contact-hero {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header{
  font-size: 80px;
  letter-spacing: -2px;
}

.contact-wrapper-page{
  margin-top: 80px;
  width: 100%;
}

.contact-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.contact-info {
  background: #F6F1E1;
  padding: 60px 40px;
  border-radius: 16px;
  height: 100%;
  max-width: 480px;
  width: 100%;
}

.contact-form  {
  width: 100%;
  max-width: 849px;
  height: 100%;
  max-height: 640px;
  border-radius: 16px;
  padding: 0 40px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.btn-submit {
  background: #d97141;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-map {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.social-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.social-icons{
  width: 28px;
  height: 28px;
}